* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

#mainhead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #fff;
    background: #fff;
    border-bottom: 2px solid #ccc;
}

#headername {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    line-height: 90px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}

#headername:hover {
    background: #177772da;
}

nav {
    float: right;
    margin-top: 30px;
}
  
nav a {
    display: inline-block;
    padding-left: 10px;
    margin-left: 20px;
    line-height: 18px;
    color: #999;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    margin-right: 10px;
    padding-right: 10px;
}

.button:hover {
    color: #4aaaa5;
    text-decoration: none;
}

.wrapper {
    height: auto !important;
    min-height: 100%;
    margin: 0 auto -75px;
}

#container {
    padding-top: 130px;
}

.main-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

.aboutme {
    color: #4aaaa5;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: solid #dddddd 2px;
}

.bio-img {
    height: 150px;
    width: auto;
}

p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

.paragraph {
    line-height: 36px;
}

.btmparagraph {
    line-height: 36px;
    padding-top: 6px;
}

.mainbody {
    float: left;
    width: 100%;
    max-width: 960px;
    background: #ffffff;
    border: 2px solid #dddddd;
    padding: 30px;
    margin-top: 50px;
}

footer {
    padding: 24.5px 0;
    clear: both;
    font-size: 12px;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5;
}

@media (min-width: 992px) {
    nav {
        float: right;
    }
}

@media (max-width: 992px) {
    .para1 {
        width: auto;
    }
}

@media (max-width: 767px) {
    .para1 {
        width: auto;
        float: left;
    }
    nav {
        float: left;
    }
    #headername {
        width: 100%;
    }
    .bio-img {
        width: auto;
        height: 200px;
    }
}

@media (max-width: 576px) {
    #headername {
        width: 100%;
    }
    .bio-img {
        width: auto;
        height: 200px;
    }
}

.submit {
    background: #4aaaa5;
    color: #fff;
}

.contact {
    color: #777;
}